*{
    background-color:#FAEEDA;
}
.page-index{
    padding:0;
    margin:0;
    text-align: center;
}

/* =====================INDEX PAGE===================== */

.container{

    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
img{
    height:180px;
    width:180px;
    border-radius:40px;
    margin-bottom: 20px ;
}
.appName{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px ;
    color:#633806;
    font-weight: 500;
    margin-bottom: 15px;
    
  
}
.tagLine{
    font-family:'Courier New', Courier, monospace;
    font-size: 23px ;
    color:#854F0B;
    font-weight: 400;
    margin-bottom:50px;
}

#btn1{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
    background-color:#BA7517 ;
    color:#FEF9F0;
    padding:14px;
    gap:20px;
    border:none;
    border-radius: 8px;
    height:70px;
    width:450px;
    margin-bottom: 30px;
}
#btn2{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
    border-color:#BA7517;
    color:#BA7517;
    padding:14px;
    border-radius:8px;
    height:70px;
    width:450px;
    background-color: #FAEEDA;
}
#btn1:hover {
    background-color: #854F0B;
    cursor: pointer;
}

#btn2:hover {
    background-color: #f0d9b5;
    cursor: pointer;
}

/* ====================CREATE PAGE=====================*/

.page-create{
    padding:3rem 1rem;
    text-align: left;
}
.createContainer{
    max-width:480px;
    width: 100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.back{
    font-size:23px;
    color:#BA7517;
    font-family:sans-serif;
    font-weight: 300;
}
.back:hover{
    color:#854F0B;
    cursor: pointer;
}
.create-heading{
    display:flex;
    flex-direction: column;
}
#main-heading{
    color:#633806;
    font-family: serif;
    font-size:38px;
    font-weight:500 ;
    margin-bottom: 10px;
}
#sub-heading{
    font-size:17px;
    font-weight:400;
    font-family: sans-serif;
    color:#854F0B;
}

